body {
    background-color: rgb(246, 237, 167);
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(47, 47, 47);
    --def: #ffffff;
    --inv: rgb(106, 125, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(-25deg, rgb(246, 237, 167) 0%, #96B7C4 100%);
}

.cart {
    background-color: whitesmoke;
    width: 16cm;
    height: 12cm;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: rgb(73, 72, 72);
    border-radius: 4%;
}

.cart img {
    height: 8.3cm;
    float: left;
    margin: 1cm;
}

.back p {
    font-size: 14pt;
    margin-left: 15px;
    text-shadow: 0 0 3px #000000;
    text-transform: uppercase;
}

.hori {
    background-color: rgb(58, 56, 56);
    height: 0.01cm;
    align-items: center;
    display: flex;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}

.vertical {
    background-color: rgb(58, 56, 56);
    width: 0.01cm;
    height: 9.2cm;
    float: left;
    margin-top: 0cm;
    margin-right: 0.4cm;
}

p {
    font-size: 10.5pt;
    margin-right: 1cm;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 0.2cm;
}

.description {
    margin-top: 0cm;
    padding-top: 0;
}

h1 {
    margin: 0.1cm;
}

.btn {
    position: auto;
    padding-left: 0.1cm;
    padding-right: 0.1cm;
    padding-top: 0.3cm;
    padding-bottom: 0.2cm;
    margin-right: 0.5cm;
    width: 3cm;
    font-size: 14pt;
    font-size: large;
    color: var(--inv);
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.btn:before,
.btn:after {
    width: 100%;
    background: #ffffff;
    transition-delay: .2s;
    color: var(--def);
    top: 0;
    height: 0;
}

.btn:hover {
    color: var(--def);
    transition-delay: .3s;
    background-color: #96B7C4;
}

.btn:hover:before {
    transition-delay: 0s;
    height: 100%;
}